@{
    ViewData["Title"] = "Home";
}

<button id="send" type="button" class="btn btn-primary">Send</button>
<button id="stop" type="button" class="btn btn-primary">Stop</button>

<hr>

<ul id="messageList"></ul>

@section Scripts
{
    <!-- <snippet_CDN> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <!-- </snippet_CDN> -->
    <script src="~/chat.js"></script>
}